<!--Footer-->
<footer class="footer">
        <div class="footerLogo" ><img src="/img/playpass-white.svg" alt="playpass" /></div>
          <div class="footerMenu">
                      <a  href="/about">About</a><br />
                      <a  href="/technology">Technology</a><br />
                      <a  href="/references">References</a><br />
                      <a  href="/news">News</a><br />
                      <a  href="/careers">Careers</a><br />
                      <a  href="/contact">Contact</a>
                </div>

                <div class="addressHolder">
                  <h3>Playpass Europe</h3>
                  Lange Gasthuisstraat 29<br />
                  2000 Antwerp — Belgium<br />
                  <h3>Playpass US</h3>
                  1177 Avenue of the Americas<br />
                  7th floor New York, NY 10036<br /><br />
                  +32 3 231 09 18<br />
                  <a href='mailto:info@playpass.eu'>info@playpass.eu</a>
                </div>

        <div class="socialHolder">      
          <!--<a title="facebook" href="https://facebook.com">
            <img 
            src={facebook}
            alt="Facebook"
                      style={{ width: '1em', height: '1em' }}
                    />
                  </a>
                  <a title="twitter" href="https://twitter.com">
                  <img
                    className="fas fa-lg"
                    src={twitter}
                    alt="Twitter"
                    style={{ width: '1em', height: '1em' }}
                  />
                </a>
                <a title="instagram" href="https://instagram.com">
                  <img
                  src={instagram}
                  alt="Instagram"
                  style={{ width: '1em', height: '1em' }}
                  />
                </a>
                <a title="vimeo" href="https://vimeo.com">
                  <img
                  src={vimeo}
                  alt="Vimeo"
                  style={{ width: '1em', height: '1em' }}
                  />
                </a>-->
        </div>
        <div class="disclaimer">2019 © Playpass <a href="">Privacy Policy</a></div>
      </footer>
